<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../sosial dan kependudukan/subjek.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <title>Beranda</title>
</head>
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        background-color: #fff;
    }

    .text-justify {
        text-align: justify !important;
    }

    .bg-danger-subtle {
        background-color: #FF8989 !important;
    }

    .text-indent {
        text-indent: 2em !important;
    }
</style>

<body>
    <!-- TOPBAR PAGE -->
    <topbar class="container-topbar">
        <div class="image">
            <img src="https://mamujukab.bps.go.id/backend/images/Header-Frontend-Besar-ind.png" alt="BPS-logo">
            <img src="https://www.bps.go.id/images/berakhlak.png" alt="AKHLAK-logo">
        </div>
    </topbar>

    <!-- NAVBAR SECTION -->
    <nav class="container-fluid bg-danger-subtle">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid d-flex justify-content-between">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav nav-fill w-100 text-black fw-medium">
                        <a class="nav-link active" aria-current="page" href="../../home.html">Beranda</a>
                        <a class="nav-link" href="../../tentang.html">Tentang Kami</a>
                        <a class="nav-link" href="../../berita.html">Berita</a>
                        <a class="nav-link" href="../../publikasi.html">Publikasi</a>
                    </div>
                </div>
            </div>
        </nav>
    </nav>
    <!-- EXTRA PAGE -->
    <nav class="my-2 ms-2" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/wabeCivitas/components/home.html">Beranda</a></li>
            <li class="breadcrumb-item active" aria-current="page">Energi</li>
        </ol>
    </nav>

    <!-- MAIN SECTION -->
    <section class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-12 d-none d-lg-block">
                <div class="accordion accordion-flush mb-2" id="accordionFlushExample">
                    <div class="accordion-item ">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed text-bg-warning text-white" type="button"
                                data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false"
                                aria-controls="flush-collapseOne">
                                Sosial Dan Kependudukan
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <a href="../components/daftar_subjek/sosial dan kependudukan/gender.html"
                                class="accordion-body text-decoration-none text-hover">Gender</a>
                        </div>
                        <div id="flush-collapseOne" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <a href="../components/daftar_subjek/sosial dan kependudukan/geografi.html"
                                class="accordion-body text-decoration-none text-hover">Geografi</a>
                        </div>
                        <div id="flush-collapseOne" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <a href="../components/daftar_subjek/sosial dan kependudukan/Iklim.html"
                                class="accordion-body text-decoration-none text-hover">Iklim</a>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed text-bg-primary" type="button"
                                data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                aria-controls="flush-collapseTwo">
                                Ekonomi dan Perdagangan
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <a href="../components/daftar_subjek/ekonomi dan perdagangan/energi.html" class="accordion-body text-decoration-none text-hover">Energi</a>
                        </div>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <a href="../components/daftar_subjek/ekonomi dan perdagangan/industri.html" class="accordion-body text-decoration-none text-hover">Industri</a>
                        </div>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <a href="../components/daftar_subjek/ekonomi dan perdagangan/inflasi.html" class="accordion-body text-decoration-none text-hover">Inflasi</a>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed text-bg-success" type="button"
                                data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false"
                                aria-controls="flush-collapseThree">
                                Pertanian dan Pertambangan
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <a href="../components/daftar_subjek/pertanian dan pertambangan/holtikultura.html" class="accordion-body text-decoration-none text-hover">Hortikultura</a>
                        </div>
                        <div id="flush-collapseThree" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <a href="../components/daftar_subjek/pertanian dan pertambangan/kehutanan.html" class="accordion-body text-decoration-none text-hover">Kehutanan</a>
                        </div>
                        <div id="flush-collapseThree" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <a href="../components/daftar_subjek/pertanian dan pertambangan/peternakan.html" class="accordion-body text-decoration-none text-hover">Peternakan</a>
                        </div>
                    </div>
                </div>
                <div class="container-fluid bg-body-secondary d-none d-lg-block py-2 my-2">
                    <div class="row justify-content-center align-items-center g-2">
                        <a href="#">
                            <img src="https://mamujukab.bps.go.id/images/index/infografis_ind.jpg" class="w-100"
                                alt="Galeri Infografis">
                        </a>
                        <a href="#">
                            <img src="https://mamujukab.bps.go.id/images/index/tabel-dinamis.jpg" class="w-100"
                                alt="tabel Dinamis">
                        </a>
                        <a href="#">
                            <img src="https://www.bps.go.id/images/index/kbli-kbki.jpg" class="w-100"
                                alt="Kamus Pembakuan Statistik">
                        </a>
                        <a href="#">
                            <img src="https://mamujukab.bps.go.id/images/index/pnbp.jpg" class="w-100"
                                alt="Cara mendapatkan data BPS">
                        </a>
                        <a href="#">
                            <img src="https://mamujukab.bps.go.id/images/index/unduh.jpg" class="w-100" alt="Unduh">
                        </a>
                        <a href="#">
                            <img src="https://mamujukab.bps.go.id/images/index/istilah.jpg" class="w-100"
                                alt="Istilah Statistik">
                        </a>
                    </div>
                </div>
                <div class="container-fluid d-none d-lg-block bg-body-secondary py-2 my-2">
                    <div class="row justify-content-center align-items-center g-2">
                        <a href="#">
                            <img src="https://mamujukab.bps.go.id/images/index/bps-ri.jpg" class="w-100" alt="BPS">
                        </a>
                        <a href="#">
                            <img src="https://www.bps.go.id/images/index/fms.jpg" class="w-100"
                                alt="Forum Masyarakat Statistik">
                        </a>
                        <a href="#">
                            <img src="https://mamujukab.bps.go.id/images/index/metadata.jpg" class="w-100"
                                alt="Metadata">
                        </a>
                        <a href="#">
                            <img src="https://mamujukab.bps.go.id/images/index/rb.jpg" class="w-100"
                                alt="Reformasi Birokrasi">
                        </a>
                        <a href="#">
                            <img src="https://mamujukab.bps.go.id/images/index/pengaduan.jpg" class="w-100"
                                alt="Pengaduan">
                        </a>
                        <a href="#">
                            <img src="https://mamujukab.bps.go.id/images/index/lpse.jpg" class="w-100" alt="LPSE">
                        </a>
                        <a href="#">
                            <img src="http://www.bps.go.id/images/index/stis.jpg" class="w-100" alt="STIS">
                        </a>
                        <a href="#">
                            <img src="https://mamujukab.bps.go.id/images/index/pusdiklat.jpg" class="w-100"
                                alt="Pusdiklat">
                        </a>
                    </div>
                </div>
                <div class="container-fluid d-none d-lg-block bg-body-secondary py-2 my-2">
                    <div class="row justify-content-center align-items-center g-2">
                        <h4 class="text-center">Social Media</h4>
                        <div class="d-flex justify-content-center align-items-center gap-3">
                            <a href=""><img src="https://mamujukab.bps.go.id/images/fcbk.png" class="w-100"
                                    alt="Fb"></a>
                            <a href=""><img src="https://mamujukab.bps.go.id/images/instgr.png" class="w-100"
                                    alt="Ig"></a>
                            <a href=""><img src="https://mamujukab.bps.go.id/images/twt.png" class="w-100"
                                    alt="Twitter"></a>
                            <a href=""><img src="https://mamujukab.bps.go.id/images/ytb.png" class="w-100"
                                    alt="Youtube"></a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- JIKA DEVICE >992px -->
            <div class="col-lg-9 col-md-12 d-none d-lg-block bg-body-secondary py-2">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link text-black active" id="home-tab" data-bs-toggle="tab"
                            data-bs-target="#konsep-tab-pane" type="button" role="tab" aria-controls="konsep-tab-pane"
                            aria-selected="true">Konsep</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link text-black" id="metodelogi-tab" data-bs-toggle="tab"
                            data-bs-target="#metodelogi-tab-pane" type="button" role="tab"
                            aria-controls="metodelogi-tab-pane" aria-selected="false">Metodelogi</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link text-black" id="contact-tab" data-bs-toggle="tab"
                            data-bs-target="#tabel-tab-pane" type="button" role="tab" aria-controls="tabel-tab-pane"
                            aria-selected="false">Tabel</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link text-black" id="publikasi-tab" data-bs-toggle="tab"
                            data-bs-target="#publikasi-tab-pane" type="button" role="tab"
                            aria-controls="publikasi-tab-pane" aria-selected="false">Publikasi</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link text-black" id="dinamis-tab" data-bs-toggle="tab"
                            data-bs-target="#dinamis-tab-pane" type="button" role="tab" aria-controls="dinamis-tab-pane"
                            aria-selected="false">Dinamis</button>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active my-3" id="konsep-tab-pane" role="tabpanel"
                        aria-labelledby="konsep-tab" tabindex="0">
                        <h6>Perusahaan Air Bersih</h6>
                        <p class="text-justify">
                            adalah perusahaan/usaha yang melakukan kegiatan pengadaan, penjernihan, penyediaan dan penyaluran air bersih secara langsung melalui pipa penyalur atau mobil tangki kepada pelanggan ke rumah tangga, industri dan konsumen lainnya dengan tujuan komersial. Perusahaan/ usaha air bersih yang dicakup adalah Perusahaan Air Minum (PAM), Perusahaan Daerah Air Minum (PDAM) dan Badan Pengelola Air Minum (BPAM) maupun perusahaan/usaha swasta lainnya.
                        </p>
                        <h6>Pekerja dan Pengeluaran Untuk Pekerja</h6>
                        <p class="text-justify">
                            adalah orang yang bekerja pada perusahaan air bersih, baik pekerja operasional dan perawatan maupun pekerja lainnya. Pengeluaran untuk pekerja adalah semua pengeluaran perusahaan untuk pekerja yaitu upah/gaji, upah lembur, hadiah, bonus, dana pensiun, tunjangan kecelakaan dan pengeluaran lainnya yang dibayarkan baik dalam bentuk uang maupun dalam bentuk barang.
                        </p>
                    </div>
                    <div class="tab-pane fade my-3" id="metodelogi-tab-pane" role="tabpanel"
                        aria-labelledby="metodelogi-tab" tabindex="0">
                        <h6>1. Indeks Pembangunan Gender</h6>
                        <p>Berisi Tabel (Skip bikin, ribet cuk)</p>
                        <h6>2. Indeks Pembangunan Gender</h6>
                        <p>Sama berisi tabel (Skip bikin, ribet cuk)</p>
                    </div>
                    <div class="tab-pane fade my-3" id="tabel-tab-pane" role="tabpanel" aria-labelledby="tabel-tab"
                        tabindex="0">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th scope="col" class="col-2 border-end text-center">
                                        No
                                    </th>
                                    <th scope="col" class="col-6 text-center border-end">
                                        Judul Tabel
                                    </th>
                                    <th scope="col" class="col-2 text-center border-end">
                                        Update
                                    </th>
                                    <th scope="col" class="col-2 text-center border-end">
                                        Ket.
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="table-group-divider">
                                <tr>
                                    <th scope="row" class="text-center">1</th>
                                    <td class="text-center"><a href="#" class="text-decoration-none">
                                            Null
                                        </a></td>
                                    <td class="text-center">
                                        Null
                                    </td>
                                    <td class="text-center">
                                        ...
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row" class="text-center">2</th>
                                    <td class="text-center"><a href="#" class="text-decoration-none">
                                            Null
                                        </a></td>
                                    <td class="text-center">
                                        Null
                                    </td>
                                    <td class="text-center">
                                        ...
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row" class="text-center">3</th>
                                    <td class="text-center"><a href="#" class="text-decoration-none">
                                            Null
                                        </a></td>
                                    <td class="text-center">
                                        Null
                                    </td>
                                    <td class="text-center">
                                        ...
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row" class="text-center">4</th>
                                    <td class="text-center"><a href="#" class="text-decoration-none">
                                            Null
                                        </a></td>
                                    <td class="text-center">
                                        Null
                                    </td>
                                    <td class="text-center">
                                        ...
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade my-3" id="publikasi-tab-pane" role="tabpanel"
                        aria-labelledby="publikasi-tab" tabindex="0">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th scope="col" class="col-2 border-end text-center">
                                        No
                                    </th>
                                    <th scope="col" class="col-8 text-center border-end">
                                        Judul Publikasi
                                    </th>
                                    <th scope="col" class="col-2 text-center border-end">
                                        Tanggal Rilis
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="table-group-divider">
                                <tr>
                                    <th scope="row" class="text-center">1</th>
                                    <td class="text-center"><a href="#" class="text-decoration-none">
                                            Null
                                        </a></td>
                                    <td class="text-center">
                                        Null
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row" class="text-center">2</th>
                                    <td class="text-center"><a href="#" class="text-decoration-none">
                                            Null
                                        </a></td>
                                    <td class="text-center">
                                        Null
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row" class="text-center">3</th>
                                    <td class="text-center"><a href="#" class="text-decoration-none">
                                            Null
                                        </a></td>
                                    <td class="text-center">
                                        Null
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row" class="text-center">4</th>
                                    <td class="text-center"><a href="#" class="text-decoration-none">
                                            Null
                                        </a></td>
                                    <td class="text-center">
                                        Null
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade my-3" id="dinamis-tab-pane" role="tabpanel" aria-labelledby="dinamis-tab"
                        tabindex="0">
                        <h4 class="text-center">LEBIH BANYAK TABEL... SKIP</h4>
                    </div>
                </div>
            </div>

            <!-- JIKA DEVICE <992px -->
            <div class="accordion accordion-flush mb-2 col-lg-3 col-md-12 d-md-block d-lg-none"
                id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed text-bg-warning" type="button"
                            data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false"
                            aria-controls="flush-collapseOne">
                            Konsep
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse p-2 border border-3 text-justify"
                        data-bs-parent="#accordionFlushExample">
                        <h6>Statistik Air Bersih</h6>
                        <ol type="1">
                            <li>
                                <span>Perusahaan Air Bersih</span>
                                <p>
                                    adalah perusahaan/usaha yang melakukan kegiatan pengadaan, penjernihan, penyediaan dan penyaluran air bersih secara langsung melalui pipa penyalur atau mobil tangki kepada pelanggan ke rumah tangga, industri dan konsumen lainnya dengan tujuan komersial. Perusahaan/ usaha air bersih yang dicakup adalah Perusahaan Air Minum (PAM), Perusahaan Daerah Air Minum (PDAM) dan Badan Pengelola Air Minum (BPAM) maupun perusahaan/usaha swasta lainnya.
                                </p>
                            </li>
                            <li>
                                <span>Pekerja dan Pengeluaran Untuk Pekerja</span>
                                <p>
                                    adalah orang yang bekerja pada perusahaan air bersih, baik pekerja operasional dan perawatan maupun pekerja lainnya. Pengeluaran untuk pekerja adalah semua pengeluaran perusahaan untuk pekerja yaitu upah/gaji, upah lembur, hadiah, bonus, dana pensiun, tunjangan kecelakaan dan pengeluaran lainnya yang dibayarkan baik dalam bentuk uang maupun dalam bentuk barang.
                                </p>
                            </li>
                            <li>
                                <span>Biaya Input</span>
                                <p>
                                    adalah pengeluaran yang digunakan untuk pembelian bahan-bahan kimia, tenaga listrik, bahan bakar, alat-alat tulis dan kantor, onderdil, ongkos pemeliharaan dan perbaikan kecil prasarana produksi, sewa gedung dan mesin serta jasa-jasa lainnya.
                                </p>
                            </li>
                            <li>
                                <span>Nilai Output</span>
                                <p>
                                    adalah nilai dari air bersih yang disalurkan, tenaga listrik yang dijual dan penerimaan lainnya dari jasa non industri.
                                </p>
                            </li>
                        </ol>
                        <h6>Statistik Listrik PLN</h6>
                        <ol type="1">
                            <li>
                                <span>Perusahaan Listrik Negara</span>
                                <p>
                                    adalah perusahaan yang berusaha di bidang tenaga listrik untuk kepentingan masyarakat dan negara dan meliputi usaha-usaha seperti :
                                    <ul style="list-style-type:disc">
                                        <li>produksi, transmisi dan distribusi tenaga listrik</li>
                                        <li>perencanaan dan pembangunan tenaga listrik</li>
                                        <li>pengusahaan dan pengembangan tenaga listrik</li>
                                        <li>pengusahaan jasa-jasa di bidang tenaga listrik</li>
                                    </ul>
                                </p>
                            </li>
                            <li>
                                <span>Pekerja dan Pengeluaran Untuk Pekerja</span>
                                <p>
                                    adalah orang yang bekerja pada PT. PLN (Persero), baik pekerja operasional dan perawatan maupun pekerja lainnya. Pengeluaran untuk pekerja adalah semua pengeluaran perusahaan untuk pekerja yaitu upah/gaji, upah lembur, hadiah, bonus, dana pensiun, tunjangan kecelakaan dan pengeluaran lainnya yang dibayarkan baik dalam bentuk uang maupun dalam bentuk berupa barang.
                                </p>
                            </li>
                            <li>
                                <span>Biaya Input</span>
                                <p>
                                    adalah pengeluaran yang digunakan untuk pembelian bahan bakar dan pelumas untuk membangkitkan listrik, tenaga listrik yang dibeli dari luar perusahaan, alat-alat tulis dan kantor, onderdil, ongkos pemeliharaan dan perbaikan kecil prasarana produksi, sewa gedung dan mesin serta jasa lainnya.
                                </p>
                            </li>
                            <li>
                                <span>Nilai Output</span>
                                <p>
                                    adalah nilai tenaga listrik yang dijual atau didistribusikan kepada para pelanggan dan ditambah dengan pendapatan atau penerimaan dari kegiatan jasa perusahaan lainnya.
                                </p>
                            </li>
                        </ol>
                        <h6>Statistik Gas Kota</h6>
                        <ol type="1">
                            <li>
                                <span>PT. Perusahaan Gas Negara (Persero)</span>
                                <p>
                                    atau PT. PGN (Persero) adalah perusahaan yang bergerak di bidang tenaga produksi gas kota untuk keperluan bahan bakar bagi rumah tangga, perusahaan industri, rumah sakit, hotel dan sebagainya.
                                </p>
                            </li>
                            <li>
                                <span>Pekerja dan Pengeluaran Untuk Pekerja</span>
                                <p>
                                    adalah orang yang bekerja pada perusahaan umum gas negara, baik pekerja operasional dan perawatan maupun pekerja lainnya. Pengeluaran untuk pekerja adalah semua pengeluaran perusahaan untuk pekerja yaitu upah/gaji, upah lembur, hadiah, bonus, dana pensiun, tunjangan kecelakaan dan pengeluaran lainnya yang dibayarkan baik dalam bentuk uang maupun dalam bentuk berupa barang.
                                </p>
                            </li>
                            <li>
                                <span>Biaya Input</span>
                                <p>
                                    adalah pengeluaran yang digunakan untuk pembelian bahan baku, bahan bakar, alat tulis dan kantor, onderdil, ongkos pemeliharaan dan perbaikan kecil sarana produksi, sewa gedung dan mesin serta jasa lainnya.
                                </p>
                            </li>
                            <li>
                                <span>Nilai Output</span>
                                <p>
                                    adalah nilai gas yang dijual/didistribusikan ditambah pendapatan atau penerimaan dari kegiatan lainnya termasuk jasa non industri
                                </p>
                            </li>
                        </ol>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed text-bg-primary" type="button"
                            data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false"
                            aria-controls="flush-collapseTwo">
                            Metodelogi
                        </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse p-2 border border-3 text-justify"
                        data-bs-parent="#accordionFlushExample">
                        <p>
                           Untuk saat ini belum tersedia
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed text-bg-success" type="button"
                            data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false"
                            aria-controls="flush-collapseThree">
                            Tabel/Indikator
                        </button>
                    </h2>
                    <div id="flush-collapseThree" class="accordion-collapse collapse p-2 border border-3"
                        data-bs-parent="#accordionFlushExample">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th scope="col" class="col-2 border-end text-center">
                                        No
                                    </th>
                                    <th scope="col" class="col-6 text-center border-end">
                                        Judul Tabel
                                    </th>
                                    <th scope="col" class="col-2 text-center border-end">
                                        Update
                                    </th>
                                    <th scope="col" class="col-2 text-center border-end">
                                        Ket.
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="table-group-divider">
                                <tr>
                                    <th scope="row" class="text-center">1</th>
                                    <td class="text-center"><a href="#" class="text-decoration-none">
                                            Null
                                        </a></td>
                                    <td class="text-center">
                                        Null
                                    </td>
                                    <td class="text-center">
                                        ...
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row" class="text-center">2</th>
                                    <td class="text-center"><a href="#" class="text-decoration-none">
                                            Null
                                        </a></td>
                                    <td class="text-center">
                                        Null
                                    </td>
                                    <td class="text-center">
                                        ...
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row" class="text-center">3</th>
                                    <td class="text-center"><a href="#" class="text-decoration-none">
                                            Null
                                        </a></td>
                                    <td class="text-center">
                                        Null
                                    </td>
                                    <td class="text-center">
                                        ...
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row" class="text-center">4</th>
                                    <td class="text-center"><a href="#" class="text-decoration-none">
                                            Null
                                        </a></td>
                                    <td class="text-center">
                                        Null
                                    </td>
                                    <td class="text-center">
                                        ...
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed text-bg-success" type="button"
                            data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false"
                            aria-controls="flush-collapseFour">
                            Publikasi
                        </button>
                    </h2>
                    <div id="flush-collapseFour" class="accordion-collapse collapse p-2 border border-3"
                        data-bs-parent="#accordionFlushExample">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th scope="col" class="col-2 border-end text-center">
                                        No
                                    </th>
                                    <th scope="col" class="col-8 text-center border-end">
                                        Judul Publikasi
                                    </th>
                                    <th scope="col" class="col-2 text-center border-end">
                                        Tanggal Rilis
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="table-group-divider">
                                <tr>
                                    <th scope="row" class="text-center">1</th>
                                    <td class="text-center"><a href="#" class="text-decoration-none">
                                            Null
                                        </a></td>
                                    <td class="text-center">
                                        Null
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row" class="text-center">2</th>
                                    <td class="text-center"><a href="#" class="text-decoration-none">
                                            Null
                                        </a></td>
                                    <td class="text-center">
                                        Null
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row" class="text-center">3</th>
                                    <td class="text-center"><a href="#" class="text-decoration-none">
                                            Null
                                        </a></td>
                                    <td class="text-center">
                                        Null
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row" class="text-center">4</th>
                                    <td class="text-center"><a href="#" class="text-decoration-none">
                                            Null
                                        </a></td>
                                    <td class="text-center">
                                        Null
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed text-bg-success" type="button"
                            data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false"
                            aria-controls="flush-collapseFive">
                            Tabel Dinamis
                        </button>
                    </h2>
                    <div id="flush-collapseFive" class="accordion-collapse collapse p-2 border border-3"
                        data-bs-parent="#accordionFlushExample">
                        <h4 class="text-center">LEBIH BANYAK TABEL... SKIP</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- FOOTER -->
    <footer class="text-center container-footer">
        <div class="footer">
            <h5>BPS Kabupaten Mamuju</h5>
            <p>Jl. Trans Sulawesi Lingkungan Timbu Kelurahan Mamunyu Kecamatan Mamuju Sulawesi Barat 91511</p>
            <p>Telp. : - Mailbox : bps7604@bps.go.id Homepage : http://mamujukab.bps.go.id</p>
            <p>Untuk tampilan terbaik Anda dapat gunakan berbagai jenis browser kecuali IE, Mozilla Firefox 3-, and
                Safari
                3.2- dengan lebar minimum browser beresolusi 275 pixel.</p>
            <p>Copyright ES 2023 | All Right Reserved</p>
        </div>
    </footer>

    <!-- MARQUEE -->
    <div class="marquee">
        <span><a href="#">Daftar Media Sosial Kami</a> || Layanan data kami dapat dilakukan melalui chat Whatsapp di
            hari kerja 07.30-15.30 WITA ke +62812 **** *** || Isi kotak saran di <a href="#">di sini</a></span>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>

</html>